*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100vh;
}
.container{
    background-color: white;
    width: 300px;
    text-align: center;
}
.header{
    color: blueviolet;
    margin: 10px;
}
#input {
    display: block;
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1rem;
    outline: none;
    margin: 10px;
}

#input:focus {
    border-color: #892BE2;
}

button{
    background-color: blueviolet;
    color: white;
    font-size: 1rem;
    margin: 10px;
    padding: 4px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
p{
    margin: 10px;
}